:root{
    --gray: #33302f;
    --orange: #e67300;
}
body{
    background-color: #33302f;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    background-color: aliceblue;
    padding: 5px 5px 5px 5px;
    border-radius: 50px;
}
/* .bubble{
    background-color: #e67300;
} */
.main{
    font-size: 4rem;
}
.button{
    display: inline;
    background-color: #e67300;
    font-size: 3rem;
    border-radius: 50px;
    padding: 5px 5px 5px 5px;
}
.container2{
    gap: 100px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    color: black;
    text-decoration: none;
}
a:active{
    color: inherit
}