{% extends 'base.html' %}

{% block header %}
  <h1 class="join">{% block title %}Welcome Back{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input class="text_input" name="username" id="username" required>
    <label for="password">Password</label>
    <input class="text_input" type="password" name="password" id="password" required>
    <input type="submit" value="Log In" class="button">
  </form>
  <p>
    Don't have an account? <a href="/auth/register">register</a>
  </p>
{% endblock %}