{% extends 'base.html' %}

{% block header %}
  <h1 class="join">{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" autocomplete="off">
    <label for="username">Username</label>
    <input class="text_input" name="username" id="username" placeholder="username" required>
    <label for="password">Password</label>
    <input class="text_input" type="password" name="password" id="password" placeholder="password" required>
    <input type="checkbox" id="checkbox" class="checkbox">
    <label for="checkbox" class="checkbox"> I agree to the <a href="/terms">terms</a> and <a href="/condtions">conditions</a></label>
    <input class="button" type="submit" value="Continue">
  </form>
  <p>
    Already have an account? <a href="/auth/login">log in</a>
  </p>
{% endblock %}