<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='dynamic.css') }}">
    </head>
    <body>
        <div class="main">
            <div>
                <img src="{{user[4]}}" alt='profile picture' width=100 height=100>
            </div>

            </h1>
                {{user[0]}}
            </h1>
            <p>{{user[2]}}</p>
            {% if user[3] %}
            <ul>
                <li><a href="{{user[3][0]}}">   {{user[3][0]}}   </a></li>
                <li><a href="{{user[3][1]}}">    {{user[3][1]}}   </a></li>
            </ul>
            {% endif %}
        </div>
        
        <script src="" async defer></script>
    </body>
</html>
