<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{user[0]}} - Linkdm.ee</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='dynamic.css') }}">
        <link rel="icon" href="./favicon.ico" type="image/x-icon">
    </head>
    <body>
        <header>
            <div class="container_title">
                <div class="title">
                    <a href="/">
                        <span><img class="logo" src="static/img/icon.png"> Linkdme</span>
                    </a>
                </div>
            </div>
        </header>
        <div class="main">
            {% if user[4]%}
            <div class="img_container">
                <img src="{{user[4]}}" >
            </div>
            {%endif%}
            <div class="handle_container">
                </h1>@{{user[0]}}</h1>
            </div>
            {% if user[2]%}
            <div class="bio_container">
                <p>{{user[2]}}</p>
            </div>
            {% endif %}
            {% if user[3] %}
            <ul>
            
            {% endif %}
            {%for i in range(0,user[3]|count):%}
                <a target="_blank" href="{{user[3][i]}}"><li class="link">   {{user[3][i]}}   </li></a>
            {%endfor%}
            </ul>
        </div>
        <div class="end">
            <span>create your own page at <a href="{{web}}">{{web}}</a></span>
        </div>
        
        <script src="" async defer></script>
    </body>
</html>
