<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    </head>
    <body>
        <div class="container_title">
            <div class="title">
                <span >Linkdme</span>
            </div>
            <div class="container_auth">
                <a href="/auth/register">
                    <div class="auth_button">
                        <span>sign up</span>
                    </div>
                </a>
                <a href= "/auth/login">
                    <div class="auth_button">
                        <span>log in</span>
                    </div>
                </a>
            </div>  
        </div>
        <div class="linkimg">
                <img src="/static/img/link.png" width=80 length=80>
                <img src="/static/img/link.png" width=80 length=80>
                <img src="/static/img/link.png" width=80 length=80>
                <img src="/static/img/link.png" width=80 length=80>
                <img src="/static/img/link.png" width=80 length=80>
                <img src="/static/img/link.png" width=80 length=80>
                <img src="/static/img/link.png" width=80 length=80>
                <img src="/static/img/link.png" width=80 length=80>
                <img src="/static/img/link.png" width=80 length=80>
                <img src="/static/img/link.png" width=80 length=80>
                <img src="/static/img/link.png" width=80 length=80>
                <img src="/static/img/link.png" width=80 length=80>
                <img src="/static/img/link.png" width=80 length=80>
                <img src="/static/img/link.png" width=80 length=80>
                <img src="/static/img/link.png" width=80 length=80>
                <img src="/static/img/link.png" width=80 length=80>
                <img src="/static/img/link.png" width=80 length=80>
    
        </div>    
        <div class="text">
            <h1>
                All your links in once place. 
            </h1>
            <p>
                Make it easy to stay connected. Create a profile page where you can list any many links as you want.
            </p>
        </div>
        <div class="linkimg">
            <img src="/static/img/link.png" width=80 length=80>
            <img src="/static/img/link.png" width=80 length=80>
            <img src="/static/img/link.png" width=80 length=80>
            <img src="/static/img/link.png" width=80 length=80>
            <img src="/static/img/link.png" width=80 length=80>
            <img src="/static/img/link.png" width=80 length=80>
            <img src="/static/img/link.png" width=80 length=80>
            <img src="/static/img/link.png" width=80 length=80>
            <img src="/static/img/link.png" width=80 length=80>
            <img src="/static/img/link.png" width=80 length=80>
            <img src="/static/img/link.png" width=80 length=80>
            <img src="/static/img/link.png" width=80 length=80>
            <img src="/static/img/link.png" width=80 length=80>
            <img src="/static/img/link.png" width=80 length=80>
            <img src="/static/img/link.png" width=80 length=80>
            <img src="/static/img/link.png" width=80 length=80>
            <img src="/static/img/link.png" width=80 length=80>
        </div>
    </body>
</html>