{% macro link(i) %} 
    <li class="link {{i}}">
        <div class="link_normal {{i}}">
            <span class="span {{i}}">{{user[3][i]}}</span>
            <button class = "edit_button {{i}}" onclick="event.preventDefault(); edit({{i}})">edit</button>
            <button class = "delete_button {{i}}" onclick="event.preventDefault(); del({{i}})">delete</button>
        </div>
        <form class="link_edit {{i}}" onsubmit="event.preventDefault(); put({{i}});">
            <input name="o_link" class="input {{i}}" value="{{user[3][i]}}" style="display: none;">
            <input name="n_link" class = "input {{i}}" value="{{user[3][i]}}">
            <input type="submit" value ="submit" class ="submit_button {{i}}">
        </form>
    </li>
{% endmacro %}
